apiVersion: v1
kind: Service
metadata:
 name: api-gateway-service
 namespace: overengineered
 labels:
  app: api-gateway
spec:
 type: ClusterIP
 ports:
  - port: 3000
    targetPort: 3000
 selector:
  app: api-gateway